{% block content %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
 <script>
    $(document).ready(function() {
    $('#uploadSuccess').hide();
    $("#result").hide()
});
</script>

  <!-- bootstrap minified CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
    integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
  <title>Bookshelves-indexer</title>
</head>

<style>
  body {
    margin-top: 65px;
  }

  .navbar {
    box-shadow: 2px 2px 5px #3292a6;
    opacity: 0.9;
    background: #fff;
  }


  #showcase {
    position: relative;
    min-height: 350px;
  }

  #showcase .primary-overlay {
    background: rgba(50, 146, 166, 0.8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }



  @media (max-width: 768px) {
    #showcase {
      min-height: 450px;
    }

    #showcase h1 {
      font-size: 4rem;
    }

    .mb-resp {
      margin-bottom: 1rem;
    }
  }

  .btn-primary,
  .btn-primary:hover,
  .btn-primary:active,
  .btn-primary:visited,
  .btn-primary.focus {
    background: rgba(72, 186, 209, 0.8) !important;
  }
</style>



<body>
  
<script>

  $(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploader',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
                console.log('Success!');
                $("#uploadSuccess").show();
              $("#uploadSuccess").html('Upload success your library id is: ' +data);

            },
        });
    });
});

    $(function() {
    $('#search-button').click(function() {
        var form_data = new FormData($('#search-book-form')[0]);
        $.ajax({
            type: 'POST',
            url: '/search',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log(data);
                console.log('Success!');
                $("#result").show()
                $("#search-result").show();
              $("#search_result").html('your book name is: ' +data.name + ', your book exists in: ' + data.library);

            },
        });
    });
});
</script>

  <nav class="navbar navbar-light fixed-top py-2">
    <div class="container">
      <a class="navbar-brand">
        <h3 class="d-inline align-middle">Bookshelves-indexer</h3>
      </a>
    </div>
  </nav>


  <section id="showcase">
    <div class="primary-overlay text-white">
      <form id="upload-file"  method="POST" enctype="multipart/form-data">
        <div class="container">

          <div class="row mb-4">

            <div class="col-lg-8 text-center mt-4">
              <h3 class="display-4">
                Put your image here
              </h3>

            </div>

            <div class="col-lg-6 text-center mt-4">
              <a href="#" class="btn btn-outline-dark btn-lg text-white">
                <input type="file" name="file_input" oninput="input_filename();" required>
              </a>
            </div>

                <div class="col-lg-6 mt-4">
                  <input type="text" name="libraryname" class="form-control form-control-lg mb-resp"
                    placeholder="Enter Library Name">
              </div>

            <!-- when upload image , it appear here -->
            <!-- <div class="col-lg-4 mt-2">
              <img src="../images/01.png" height="200" width="170" class="img-thumbnail d-none d-lg-block">
            </div> -->

          </div>

          <div class="row text-center">
            <div class="col-md-12 ">
              <button id="upload-file-btn" type="button" class="btn btn-dark btn-block">
                Submit library's photo
              </button>
              <h2 id="uploadSuccess">  </h2>

            </div>
          </div>
        </div>
      </form>
    </div>
  </section>

  <!-- search bar -->
  <section class="bg-dark text-white py-5 ">
    <div class="container">
            <form id="search-book-form" method="POST" enctype="multipart/form-data">
      <div class="row ">
        <div class="col-md-6">
          <input type="text" name="searchName" class="form-control form-control-lg mb-resp"
            placeholder="Enter book name">
        </div>
        <!-- <div class="col-md-4">
          <input type="text" name="searchAuthor" class="form-control form-control-lg mb-resp"
            placeholder="Enter author name">
        </div> -->

        <div class="col-md-6">

          <button id="search-button" class="btn btn-primary btn-lg btn-block"type="button" >
            Search
          </button>

        </div>
      </div>

       </form>
    </div>
    </div>
  </section>

  <section>
    <div id="result" class="container">
      <div class="row">
        <div class="col-md-12 mt-4 m-4">
          <ul class="list-group">


            <li class="list-group-item h4 text-center">
              Your book in :

              <!-- the output of app -->
              <p id="search_result" class="mt-2"> shelf 1 , book Number 6 from your right. </p> 
              
            </li>

          </ul>
        </div>
      </div>
    </div>
  </section>


</body>

</html>
{% endblock content %}